/* Coolors Exported Palette - https://coolors.co/b6a6ad-836c5f-bd876a-668efd-352e2f */

:root {
  /* CSS HEX */
  --black-shadows: #b6a6adff;
  --liver-chestnut: #836c5fff;
  --antique-brass: #bd876aff;
  --cornflower-blue: #668efdff;
  --black-coffee: #352e2fff;

  /* CSS HSL */
  --black-shadows: hsla(334, 10%, 68%, 1);
  --liver-chestnut: hsla(22, 16%, 44%, 1);
  --antique-brass: hsla(21, 39%, 58%, 1);
  --cornflower-blue: hsla(224, 97%, 70%, 1);
  --black-coffee: hsla(351, 7%, 19%, 1);
}
